@import "~bootstrap/dist/css/bootstrap.min.css";
.cardbackground {
  background-color: green;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.card {
  background-color: white;
  height: 40vh;
  width: 20vw;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardtop {
  display: flex;
  justify-content: left;
}

.cardmiddle {
  display: flex;
  justify-content: center;
}

.cardbottom {
  display: flex;
  justify-content: right;
}
